.cartDetail__cartImage {
  height: 100%;
  width: 100%;
  grid-row: 0 / 1;

}

.cartDetail {
  box-sizing: border-box;
  height: 100%;
  width: 25%;
  margin-left: 1.5rem;
  border: 1px lightgray solid;
  border-radius: .3rem;
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 60% 15% 10% 10%;
  padding-bottom: .3rem;
  animation: fadein;
  animation-duration: 2.5s;
}

.cartDetail__title {
  padding: .1rem;
  text-align: center;
  white-space: nowrap;
}

.cartDetail__info, .cartDetail__address {
  font-size: 1.4rem;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}

.cartDetail__price {
  color: green;
  padding-left: .2rem;
}

.cartDetail__infoContainer {
  display: flex;
  justify-content: center;
  padding-bottom: .3rem;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width:900px) {
  .cartDetail {
    min-width: 50%;
  }
  .cartDetail__title {
    font-size: 1.3rem;
  }
  .cartDetail__info, .cartDetail__address, .cartDetail__price {
    font-size: 1.1rem;
    word-wrap: normal;
    white-space: normal;
  }
}
