.booking-area {
  background-image: url("../../images/emily-fletke-TBUTK17BHoc-unsplash.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 80%;
}
.booking-area__form {
  margin: 0 auto;
  width: 70%;
}

.booking-area__formWrapper {
  padding-top: 15rem;
  padding-bottom: 10rem;
  width:100%;
  margin: 0 auto;
}

.booking-area__title {
  font-weight: 600;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.reservationSearch__fields {
  font-family: "Martel";
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.reservationSearch__inputs {
  padding: .2rem;
  font-family: "Martel";
  border: none;
  color: #2d333f;
}


.reservationSearch__inputWrapper {
  display: inline-block;
  background-color: white;
  margin-left: .5rem;
  border: 1px lightgray solid;
  border-radius: .3rem;
  max-height: .4rem;
}

.reservationSearch__btn{
  width: 7rem;
  display: inline;
  font-family: "Martel";
  cursor: pointer;
  font-weight: 700;
  background-color:#37FF8B;
  border: none;
  outline:none;
  color: #2d333f;
  margin-left: .5rem;
  border:2px solid #37FF8B;
  border-radius: 3px;
}

