.booking-area {
  background-image: url("../../images/emily-fletke-TBUTK17BHoc-unsplash.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 80%;
}

.booking-area__form {
  margin: 0 auto;
  padding: 20rem;
}

.booking-area__title {
  text-align: center;
  color: white;
}
