.searchResults__cart {
  display:flex;
  width: 80%;
  margin: 2rem auto;
  padding: 1rem;
  background-color: white;
  border-radius: 1.2rem;
  box-shadow: var(--std-shadow);
  border-bottom: 1px lightgray solid;
}
.searchResults__textContainer {
  margin-left: 4rem;
}
.cartDetails__image {  
  height: 15rem;
  width: 15rem;
}
.cartDetails__name {
  font-size: 1.8rem;
  font-weight: 700;  
}
.cartDetails__buttonContainer {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}
.cartDetails__review {
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .searchResults__cart {
    flex-direction: column;
  }
  .searchResults__imgContainer {
    display: flex;
    justify-content: center;
  }
  .searchResults__textContainer {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}