.reservation__btn {
  margin-left: 2rem;
  font-family: "Martel";
  cursor: pointer;
  font-weight: 700;
  background-color:#37FF8B;
  border: none;
  outline:none;
  color: #2d333f;
  border: 1px solid #37FF8B;
  border-radius: 3px;
}
.reservation__btn:hover {
  background-color: var(--button-green-hover);
}
.cartDetails__name {
  margin-left: 2rem;
  display: block;
}
.cartDetails__image {
  border: 1px white solid;
  border-radius: 4px;
}
.cartDetails__greenPrice {
  color: green;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 700;
}
.cartDetails__grayPrice {
  color: lightgray;
  display: inline;
  font-size: 1.2rem;
  font-weight: 700;
}
.cartDetails__rating {
    font-size: 1.2rem;
}
.cartDetails__ratingText {
  display: inline;
  margin-left: 1rem;
  font-family: "Martel";
}
.cartDetails__filledStar {
  display: inline-block;
}
.cartDetails__review {
  font-size: .8rem;
  font-family: "Martel", sans-serif;
}




