.profileReservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  padding: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
  background-color: white;
  border-radius: 1.2rem;
  box-shadow: var(--std-shadow);
}
.profileReservation h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}
.profileReservation div span,
.profileReservation span,
.profileReservation div label {
  font-family: 'Lato', sans-serif;
  margin-top: 1rem;
  font-size: 1.2rem;
}
.profileReservation button {
  width: 15rem;
  height: 3rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.6rem;
  background-color: var(--button-green);
  font-weight: 500;
  cursor: pointer;
}
.cancelForm {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 2.5rem;
}
.cancelForm button {
  margin-top: 1rem;
  width: 50%;
  align-self: center;
  background-color: red;
  border: none;
  border-radius: 0.6rem;
  color: whitesmoke;
  font-weight: 700;
  cursor: pointer;
}
.reviewForm label {
  display: flex;
  flex-direction: column;
}

textarea {
  max-width: 30rem;
}
