* {
  font-family: "Lato", "sans-serif";
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  background-color: #f7f7f7;
}

.wrapper {
  background-color: white;
  width:90%;
  margin: 0 auto;
}
