/* COLOR VARS */
:root {
  /* main colors */
  --primary-color: #9cafb7;
  --background-lightgray: #f7f7f7;

  /* Text Colors */
  --text-gray: #1c1c1c;
  --text-gray-shadow: #fff;
  --text-black: #2d333f;

  --border-lightgray: #e4e4e4;

  /* Button Colors */
  --button-green: #37ff8b;
  --button-green-hover: #7eedad;

  --std-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
* {
  font-family: 'Lato', 'sans-serif';
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  background-color: var(--background-lightgray);
  margin: 0;
}
.wrapper {
  background-color: white;
  width: 90%;
  margin: 0 auto;
  min-height: 400px;
  padding: 1rem;
}
button:active {
  transform: translateY(0.2rem);
}
.authForm {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
  width: 100%;
  background: var(--background-lightgray);
  font: 1.4rem Georgia, "Times New Roman", Times, serif;
	font-weight: 600;
  color: var(--text-gray);
  text-shadow: 1px 1px 1px var(--text-gray-shadow);
  border:1px solid var(--border-lightgray);
	border-radius: 1rem;
	box-shadow: var(--std-shadow);
	padding:2rem;
}
.authForm__label {
  display: inline-block;
  margin: 1rem auto;
  width: 80%;
}
.authForm__input {
border: 1px solid var(--border-lightgray);
color: var(--text-gray);
display: inline-block;
height: 2.5rem;
outline: 0 none;
width: 100%;
font-size: 1.2rem;
line-height:1.5rem;
margin-top: .5rem;
}
.authForm__btn {
background: var(--button-green);
border: none;
padding: 1rem 2.5rem;
color: black;
border-radius: .6rem;
cursor: pointer;
}
.authForm__btn:hover {
  background: var(--button-green-hover);
  box-shadow: var(--std-shadow);
}
.authForm__btn:active {
transform: translateY(.1rem);
}