.navbar {
  text-decoration: none;
  list-style-type: none;
  display:flex;
  justify-content: flex-end;
  height: 4.5rem;
  position: relative;
  background-color: #9CAFB7;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
}
.navbar__link {
  text-decoration: none;
  margin-left: 1rem;
  font-weight: 600;
  background-color: #9CAFB7;
  cursor: pointer;
}
.navbar__title {
  align-self: flex-start;
  color: #36393B;
  font-weight: 700;
  font-size: 2rem;
}
.navbar__link,.navbar__link:visited {
  display: inline-block;
  color: #36393B;
  border: none;
  border-radius: 3px;
  margin-left: .5rem;
  font-size: 1rem;
}
.navbar__link:active {
  transform: translateY(.1rem);
}
.nav__icon {
  display: block;
  padding: .25rem;
  background-color: #9CAFB7;
  border: 2px #36393B solid;
  border-radius: 3px;
  color: #36393B;

}
