.navbar {
  text-decoration: none;
  list-style-type: none;
  display:flex;
  justify-content: flex-end;
  position: relative;
  height: 3rem;
  background-color: #9CAFB7;
  align-items: center;
}

.navbar__link {
  text-decoration: none;
  margin-left: 1rem;
}
.navbar__title {
  align-self: flex-start;
  color: #36393B;
  font-weight: 700;
  font-size: 1.2rem;
}

.navbar__link,.navbar__link:visited {
  display: inline-block;
  color: #36393B;
  border: none;
  border-radius: 3px;
  margin-left: .5rem;
  font-size: 1rem;

}

.nav__icon {
  display: block;
  padding: .25rem;
  background-color: #9CAFB7;
  border: 2px #36393B solid;
  border-radius: 3px;
  color: #36393B;

}
