.dropdown {
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position:relative;
  margin: 1rem 1.5rem 0 1rem;
}

.dropdown__list {
  list-style-type: none;
  position: absolute;
  top: 100%;
  border: 1px #F6F6F6 solid;
  border-radius: .3rem;
  background-color: white;
  animation: revealMenu 400ms ease-in-out forwards;
  transform-origin: top;
  box-sizing: border-box;
  width: 15rem;
  text-align: right;
  padding-left: 0rem;
  margin-top: .4rem;
}

.dropdown__list > li {
  margin-top: .5rem;
  margin-right: .5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.dropdown__button {
  display: block;
  background-color: #9CAFB7;
  height: 1.8rem;
  margin: .3rem;
  border: none;
}

.dropdown__fontIcon {
  color: #36393B;
  font-size: 1.8rem;
}

.dropdown__logout {
  background-color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: .5rem;
}

@keyframes revealMenu {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}
