.loginForm {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
  width: 100%;
  background: #F7F7F7;
  font: 12px Georgia, "Times New Roman", Times, serif;
  color: #1c1c1c;
  text-shadow: 1px 1px 1px #FFF;
  border:1px solid #E4E4E4;
	padding:2rem;
}
.loginForm__label {
    display: inline-block;
		margin: 1rem auto;
		width: 80%;
}

.loginForm__input {
	border: 1px solid #DADADA;
  color: #1c1c1c;
  display: inline-block;
	height: 2.5rem;
	outline: 0 none;
	width: 100%;
	font-size: 1.2rem;
	line-height:1.5rem;
	margin-top: .5rem;
}
.loginForm__btn {
	background: #37FF8B;
	border: none;
	padding: 1rem 2.5rem;
	color: black;
	border-radius: .6rem;
	cursor: pointer;
}
.loginForm__btn .loginForm__btn:hover {
    background: #7eedad
}

span {
  display: block;
}
