.loginForm {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
  width: 100%;
  background: var(--background-lightgray);
  font: 12px Georgia, "Times New Roman", Times, serif;
  color: var(--text-gray);
  text-shadow: 1px 1px 1px var(--text-gray-shadow);
  border:1px solid var(--border-lightgray);
	padding:2rem;
}
.loginForm__label {
    display: inline-block;
		margin: 1rem auto;
		width: 80%;
}

.loginForm__input {
	border: 1px solid var(--border-lightgray);
  color: var(--text-gray);
  display: inline-block;
	height: 2.5rem;
	outline: 0 none;
	width: 100%;
	font-size: 1.2rem;
	line-height:1.5rem;
	margin-top: .5rem;
}
.loginForm__btn {
	background: var(--button-green);
	border: none;
	padding: 1rem 2.5rem;
	color: black;
	border-radius: .6rem;
	cursor: pointer;
}
.loginForm__btn:hover {
    background: var(--button-green-hover)
}
.loginForm__btn:active {
	transform: translateY(.1rem);
}

